<%- include ('partials/header.ejs'); %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-3 card">
      <div class="card-body">
        <form action="/clientes/update/<%= data.id_Cliente %>" method="POST">
          <div class="form-group">
            <input type="text" name="nombre" value="<%= data.nombre%>" placeholder="Nombre" class="form-control" autofocus>
          </div>
          <button type="submit" class="btn btn-primary">
            save cliente
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include ('partials/footer.ejs'); %>